    {% extends 'blog/base.html' %}

    {% block content %}
    {% if tag %}
       <h2> Записи с тегом: {{ tag }} </h2>
    {% endif %}    
        {% for post in posts %}
            <div class="post">
                <div class="date">
                    {{ post.created_date }}
                </div>
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.text|safe|linebreaks|truncatewords_html:50 }}</p>
                    <div class="tag">
                    {% for tag in post.tags.all %}
                        <a href="{% url 'post_tag' tag.name %}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                    </div>
            </div>
        {% endfor %}
    {% endblock content %}
